<!-- Affiliate links -->
{{ if eq (.Get 0) "airlock" }}
https://www.amazon.ca/Plastic-Fermentation-Cylinder-Fermentor-Homebrew/dp/B07N58GFN2/ref=as_li_ss_tl?keywords=fermenter+airlock&qid=1564351702&s=gateway&sr=8-2-spons&psc=1&linkCode=ll1&tag=brewlady-20&linkId=488690df231c5e97ce2f679c5fbda7e7&language=en_CA
{{ end }}

{{ if eq (.Get 0) "barbed hose fitting" }}
https://www.amazon.ca/Stainless-Fitting-Homebrew-Hardware-fitting/dp/B01IT0M6T0/ref=as_li_ss_tl?keywords=steel+barbed+hose+fitting&qid=1564356612&s=kitchen&sr=1-1&linkCode=ll1&tag=brewlady-20&linkId=088e738f32a200ae904cb7d14bb20c86&language=en_CA
{{ end }}

{{ if eq (.Get 0) "brewers best toasted coconut" }}
https://www.amazon.ca/Brewers-Best-Ingredient-Toasted-Coconut/dp/B01C0KB3Y4/ref=as_li_ss_tl?keywords=brewer's+best+toasted+coconut&qid=1564929731&s=gateway&sr=8-1&linkCode=ll1&tag=brewlady-20&linkId=b64d2836cb80df540fee8b27f30383b5&language=en_CA
{{ end }}

{{ if eq (.Get 0) "fastferment" }}
https://www.amazon.ca/FastFerment-Plastic-Conical-Fermenter-Floor/dp/B00SA5VLQE/ref=as_li_ss_tl?keywords=fastferment&qid=1564196208&s=gateway&sr=8-1&linkCode=ll1&tag=brewlady-20&linkId=a7f55ef589e6864c01f565d4dc7f4503&language=en_CA
{{ end }}

{{ if eq (.Get 0) "fermonster" }}
https://www.amazon.ca/Strange-Brew-HOZQ8-1229-Fermonster-Homebrew/dp/B01BB5251Y/ref=as_li_ss_tl?keywords=fermentor&qid=1564354780&s=gateway&sr=8-9&linkCode=ll1&tag=brewlady-20&linkId=86f6be317445a2b00e676955c9da3ba6&language=en_CA
{{ end }}

{{ if eq (.Get 0) "hop spider" }}
https://www.amazon.ca/YaeBrew-Spider-Stainless-Strainer-Brewing/dp/B07LCF2L81/ref=as_li_ss_tl?keywords=hop+spider&qid=1564932832&s=gateway&sr=8-6&linkCode=ll1&tag=brewlady-20&linkId=0f3bd2d042387b74f07a824d2956ca5f&language=en_CA
{{ end }}

{{ if eq (.Get 0) "hydrometer" }}
https://www.amazon.ca/Hydrometer-Brewing-Density-Guaranteed-Accurate/dp/B00GGJ4X9S/ref=as_li_ss_tl?keywords=home+brewing+hydrometer&qid=1564196134&s=gateway&sr=8-5&linkCode=ll1&tag=brewlady-20&linkId=001742368871ae2f69d8b700c6393dd2&language=en_CA
{{ end }}

{{ if eq (.Get 0) "pbw" }}
https://www.amazon.ca/Craft-Meister-Alkaline-Brewery-Wash/dp/B074D9BXTB/ref=as_li_ss_tl?keywords=PBW&qid=1564338219&s=gateway&sr=8-3&linkCode=ll1&tag=brewlady-20&linkId=137f2b027141fd04308daefcaf9da19a&language=en_CA
{{ end }}

{{ if eq (.Get 0) "refractometer" }}
https://www.amazon.ca/gp/product/B06X8WV6K6/ref=as_li_ss_tl?ie=UTF8&psc=1&linkCode=ll1&tag=brewlady-20&linkId=c737979f578005bd02c68830d75f960d&language=en_CA
{{ end }}

{{ if eq (.Get 0) "robobrew" }}
http://brewerspantry.com/index.php?route=product/product&product_id=940
{{ end }}

{{ if eq (.Get 0) "robobrew tubing kit" }}
http://brewerspantry.com/index.php?route=product/product&product_id=1143
{{ end }}

{{ if eq (.Get 0) "rubber stopper" }}
https://www.amazon.ca/Home-Brew-Ohio-Stopper-Size-10-Drilled/dp/B0057JB9XG/ref=as_li_ss_tl?pd_rd_w=Vu4fI&pf_rd_p=64a84aa4-b549-4445-9bf3-48bdeed5f24a&pf_rd_r=SSG0506YGA5ENM8T3Y1J&pd_rd_r=85626d58-127e-4211-8274-fff6af92d5be&pd_rd_wg=FY3sg&pd_rd_i=B0057JB9XG&psc=1&refRID=SSG0506YGA5ENM8T3Y1J&linkCode=ll1&tag=brewlady-20&linkId=83066a648d9afafce31d8ce8ae0123d0&language=en_CA
{{ end }}

{{ if eq (.Get 0) "spoon" }}
https://www.amazon.ca/Brewing-Spoon-Stainless-Steel-21-Inch/dp/B001D6KF8M/ref=as_li_ss_tl?keywords=home-brew+spoon&qid=1564345451&s=gateway&sr=8-4&linkCode=ll1&tag=brewlady-20&linkId=7e8792b2b9a011e7b220cb3ae6ddba29&language=en_CA
{{ end }}

{{ if eq (.Get 0) "stand mixer" }}
https://www.amazon.ca/KitchenAid-K45SSOB-Classic-Quart-Stand/dp/B003OXNBYC/ref=as_li_ss_tl?keywords=kitchenaid+mixer&qid=1567879762&s=gateway&sr=8-7&linkCode=ll1&tag=brewlady-20&linkId=9628c566935a9c03201746dce15ef120&language=en_CA
{{ end }}

{{ if eq (.Get 0) "starsan" }}
https://www.amazon.ca/Five-Star-4C-YKNL-FWNT-San-16oz/dp/B0064O7Y64/ref=as_li_ss_tl?keywords=starsan&qid=1564338418&s=gateway&sr=8-1&linkCode=ll1&tag=brewlady-20&linkId=0c9f204027647f3a960ac10ef357c158&language=en_CA
{{end}}

{{ if eq (.Get 0) "tank tun" }}
https://www.amazon.ca/Coldbreak-Brewing-Equipment-CBHLT115-Stainless/dp/B079Z2HYDD/ref=as_li_ss_tl?keywords=Coldbreak+Brewing+Equipment&qid=1564183435&s=gateway&sr=8-36&linkCode=ll1&tag=brewlady-20&linkId=7dc1fa3b3dc3b6857101e7b70a50ea42&language=en_CA
{{ end }}

{{ if eq (.Get 0) "theif" }}
https://www.amazon.ca/Home-Brew-Ohio-Wine-Thief/dp/B071H8N3HS/ref=as_li_ss_tl?keywords=home+brewing+thief&qid=1564196051&s=gateway&sr=8-3&linkCode=ll1&tag=brewlady-20&linkId=3566e6f75598cdd36be17e26eb9ebaa9&language=en_CA
{{ end }}

{{ if eq (.Get 0) "wort chiller" }}
https://www.amazon.ca/Brewers-Best-HOZQ8-1579-Immersion-Chiller/dp/B00IPKVI7Q/ref=as_li_ss_tl?keywords=wort+chiller&qid=1564196293&s=gateway&sr=8-30&linkCode=ll1&tag=brewlady-20&linkId=f34be1b20b24f7b88451b7639ce1a168&language=en_CA
{{ end }}




