<!-- Affiliate links -->

{{ if eq (.Get 0) "tank_tun" }}
https://www.amazon.ca/Coldbreak-Brewing-Equipment-CBHLT115-Stainless/dp/B079Z2HYDD/ref=as_li_ss_tl?keywords=Coldbreak+Brewing+Equipment&qid=1564183435&s=gateway&sr=8-36&linkCode=ll1&tag=brewlady-20&linkId=7dc1fa3b3dc3b6857101e7b70a50ea42&language=en_CA
{{ end }}

{{ if eq (.Get 0) "theif" }}
https://www.amazon.ca/Home-Brew-Ohio-Wine-Thief/dp/B071H8N3HS/ref=as_li_ss_tl?keywords=home+brewing+thief&qid=1564196051&s=gateway&sr=8-3&linkCode=ll1&tag=brewlady-20&linkId=3566e6f75598cdd36be17e26eb9ebaa9&language=en_CA
{{ end }}

{{ if eq (.Get 0) "hydrometer" }}
https://www.amazon.ca/Hydrometer-Brewing-Density-Guaranteed-Accurate/dp/B00GGJ4X9S/ref=as_li_ss_tl?keywords=home+brewing+hydrometer&qid=1564196134&s=gateway&sr=8-5&linkCode=ll1&tag=brewlady-20&linkId=001742368871ae2f69d8b700c6393dd2&language=en_CA
{{ end }}

{{ if eq (.Get 0) "fastferment" }}
https://www.amazon.ca/FastFerment-Plastic-Conical-Fermenter-Floor/dp/B00SA5VLQE/ref=as_li_ss_tl?keywords=fastferment&qid=1564196208&s=gateway&sr=8-1&linkCode=ll1&tag=brewlady-20&linkId=a7f55ef589e6864c01f565d4dc7f4503&language=en_CA
{{ end }}

{{ if eq (.Get 0) "wort_chiller" }}
https://www.amazon.ca/Brewers-Best-HOZQ8-1579-Immersion-Chiller/dp/B00IPKVI7Q/ref=as_li_ss_tl?keywords=wort+chiller&qid=1564196293&s=gateway&sr=8-30&linkCode=ll1&tag=brewlady-20&linkId=f34be1b20b24f7b88451b7639ce1a168&language=en_CA
{{ end }}