<!-- Glossary of terms in alphabetical order-->


<!-- A -->
{{ if (eq (.Get 0) "all-grain brewing") }}
Brewing using grains as the main ingredient, rather than extract.
{{ end }}

{{ if (eq (.Get 0) "aroma hops") }}
These are added near the end of the boil, and typically are only boiled or 15 minutes or less.
{{ end }}

<!-- B -->
{{ if (eq (.Get 0) "bittering hops") }}
These hops have higher acidity and are added to the wort near the beginning of the boil.
{{ end }}

{{ if (eq (.Get 0) "brew kettle") }}
Large pot for boiling the wort. Typically these have a ball-valve for easy transferring of the wort and a thermometer for monitoring temperature.
{{ end }}
<!-- C -->
<!-- D -->
{{ if (eq (.Get 0) "dry hopping") }}
Adding hops directly to the fermentor, rather than into the kettle during the boil.
{{ end }}
<!-- E -->

{{ if (eq (.Get 0) "extract brewing") }}
Brewing using malt extract syrup
{{ end }}

<!-- F -->
{{ if or (eq (.Get 0) "fermentation") (eq (.Get 0) "ferment")}}
The process where yeast consumes the sugars in the wort and produces alcohol.
{{ end }}

{{ if (eq (.Get 0) "fermentor") }}
Large container used to store the cooled wort with the yeast for the fermentation period. Typically sealed tight with an airlock attached. 
{{ end }}

{{ if (eq (.Get 0) "final gravity") }}
The final gravity (FG) is your last hydrometer reading after fermentation has completed and you are ready to bottle or keg your beer.
{{ end }}
<!-- G -->
<!-- H -->
{{ if (eq (.Get 0) "hop spider") }}
A mesh filter that sits in your kettle during the boil. Containing your hops in the filter during the boil, reduces the amount of sediment in the kettle and reduces the amount of sediment that will eventually make it to your fermentor.
{{ end }}

{{ if (eq (.Get 0) "hot break") }}
This is the point where your wort first starts to boil, and a foam appears on the top. This foam is from the proteins in the wort that coagulate due to the rolling action of the boil. You can either stir this back in, or skim it from the surface and discard.
{{ end }}
<!-- I -->
<!-- J -->
<!-- K -->
<!-- L -->
<!-- M -->
{{ if or (eq (.Get 0) "mash") (eq (.Get 0) "mashing") }}
(n.) Milled grains and hot water. This becomes the wort. (v.) Mixing milled grain with hot water and letting the mixture to steep for a duration of time to extract the fermentable sugars. 
{{ end }}

{{ if (eq (.Get 0) "mash tun") }}
Large insulated container used for steeping grains in hot water (see mash).
{{ end }}
<!-- N -->
<!-- O -->
{{ if (eq (.Get 0) "original gravity") }}
The original gravity (OG) is the last hydrometer reading before putting the wort into the fermentor.
{{ end }}
<!-- P -->
{{ if (eq (.Get 0) "primary fermentation") }}
This is the main fermentation period where most or all of the fermentable sugars are converted to alcohol by the yeast. Usually the fermentor is placed in a cool basement during this phase.
{{ end }}
<!-- Q -->
<!-- R -->
<!-- S -->
{{ if (eq (.Get 0) "secondary fermentation") }}
This phase takes part after the primary fermentation period. Often a secondary fermentation is optional, but will result in a clearer beer and may change the taste of the beer. Most secondary fermentations take place in a location cooler than your basement, and may require a keezer.
{{ end }}

{{ if or (eq (.Get 0) "sparge") (eq (.Get 0) "sparging") }}
The process of spraying the spent grains with hot water to extract additional sugars from the husks. This happens after the initial draining of water from the mash.
{{ end }}

{{ if (eq (.Get 0) "sparge water") }}
Water used to spray the spent grains to extract additional sugars from the husks.
{{ end }}

{{ if (eq (.Get 0) "spent grains") }}
The grains left over after the mash. These can make great dog biscuits!
{{ end }}

{{ if (eq (.Get 0) "strike water temperature") }}
This is the temperature of the water before being added to the grain for the initial mash (steeping of the grain). Typically this is around 11&deg;F higher than your target mash temperature.
{{ end }}
<!-- T -->
{{ if (eq (.Get 0) "target gravity") }}
The target gravity is the hydrometer reading you are aiming to achieve.
{{ end }}

{{ if (eq (.Get 0) "target mash temperature") }}
The ideal temperature of the grain and hot water mixture during the mash.
{{ end }}
<!-- U -->
<!-- V -->
<!-- W -->
{{ if (eq (.Get 0) "whirlfloc tablet") }}
Contains Iris Moss and purified carrageenan that assists in the coagulation and settling of haze-producing proteins and beta glucans.
{{ end }}

{{ if (eq (.Get 0) "wort") }}
The resulting solution of boiling the sugary liquid from the mash with hops.
{{ end }}

{{ if (eq (.Get 0) "wort chiller") }}
A copper coil that you run cold tap water (usually from your garden hose) through to end the boil and speed up the cooling process.
{{ end }}
<!-- X -->
<!-- Y -->
<!-- Z -->